{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <a class="btn btn-primary pull-right" href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" role="button">Add New Menu Item</a>
      <h2>{{restaurant.name}}'s Menu</h2>
    </div>
  </div>
</div>

{% for item in items %}
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6"><h3>{{item.name}} <small>- {{item.course}}</small></h3></div>
        <div class="col-md-6 text-right"><h3>{{item.price}}</h3></div>
      </div>
      <div class="row">
        <div class="col-md-12"><p class="lead"><em>{{item.description}}</em></p></div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id )}}">Edit</a> |
          <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id )}}">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
