{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>Delete Menu Item From {{restaurant.name}}</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">
      Are you sure you want to delete <strong>{{item.name}}</strong> from the restaurant menu?
    </div>
  </div>
</div>

<form class="col-md-6" action="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}" method="POST">
  <button type="submit" class="btn btn-danger">Delete</button>
  <a class="btn btn-default" href="{{url_for('showMenu', restaurant_id=restaurant.id)}}" role="button">Cancel</a>
</form>

{% endblock %}
